body {
	font-family: sans-serif;
}

p {
	color: maroon;
}

h1,h2 {
	color: gray;
}

h1 {
	text-decoration: underline;
}

p.greantea {
	color: green;
}

p.raspberry {
	color: blue;
}

p.blueberry {
	color: purple;
}

